<div class="edit-note-container">
    <h2>Edit : </h2>

    <div class="edit-note-form">
        <form class="edit-note-form" [formGroup]="noteForm" (ngSubmit)="onEditSave(noteForm)">

            <mat-form-field>
                <input matInput name="editTitle" placeholder="Enter Note Title" formControlName="title">
            </mat-form-field>

            <mat-error *ngIf="noteForm.get('title').dirty && 
            noteForm.get('title').hasError('required')">Title is required Field !!!</mat-error>

            <mat-error *ngIf="noteForm.get('title').dirty && 
            noteForm.get('title').hasError('minlength')">Title must be of 3 characters !!!</mat-error>


            <mat-form-field>
                <textarea name="editText" matInput placeholder="Enter Note Text" formControlName="text">
                </textarea>

                <mat-error *ngIf="noteForm.get('text').dirty && 
                noteForm.get('text').hasError('required')">Text is required Field !!!</mat-error>

                <mat-error *ngIf="noteForm.get('text').dirty && 
                noteForm.get('text').hasError('minlength')">Text must be of 3 characters !!!</mat-error>

            </mat-form-field>


            <button mat-button>Edit Save Note</button>
        </form>
    </div>
</div>